@font-face {
  font-family: "Matter";
  src: url("./assets/fonts/Matter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Matter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Matter-Medium";
  src: url("./assets/fonts/Matter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Matter-Medium.woff") format("woff");
}

:root {
  --main-color: #2a4f8d;
  --main-text-color: #454545;
  --background-grey: #f3f1f0;
  --fs-title: 5rem;
  --fs-title-tablet: 4rem;
  --fs-menu: 2.1428rem;
  --fs-menu-mobile: 3.667rem;
  --fs-subtitle: 3.9286rem;
  --fs-subtitle-mobile: 5rem;
  --fs-text: 2.5rem;
  --fs-text-mobile: 3.333rem;
  --fs-heading: 2.8571rem;
  --fs-heading-mobile: 3.333rem;
  --w-36: 35.88%;
  --padding-r-l: 8.714rem;
  --padding-r-l-half: 4.357rem;
  --padding-mobile-r-l: 4rem;
  --padding-mobile-r-l-half: 2rem;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6vw;
}

body {
  font-family: "Matter";
  color: var(--main-color);
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  height: 100vh;
}

h2,
h3 {
  font-family: "Matter-Medium";
  font-weight: 400;
}

h2 {
  font-size: var(--fs-subtitle-mobile);
  color: var(--main-text-color);
}

h3 {
  font-size: var(--fs-heading-mobile);
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  html {
    font-size: 0.729166vw;
  }

  h2 {
    font-size: var(--fs-subtitle);
  }
  h3 {
    font-size: var(--fs-heading);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}

.menu-container a.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 5rem;
  right: 0;
  top: 0;
  height: 10rem;
  width: 10rem;
}

.menu-container a.icon img {
  height: 4rem;
  width: 4rem;
}

#menuCloseIcon {
  display: none;
}

.menu-container .title-container {
  padding: 1rem var(--padding-mobile-r-l);
}

.menu-container .title-container h1 {
  font-size: var(--fs-title);
  text-transform: uppercase;
}

.menu-container nav {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 10rem;
  width: 100vw;
  height: calc(100vh - 10rem);
  background-color: white;
}

.menu-container nav .menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(2 * var(--padding-mobile-r-l));
}

.menu-wrapper ul {
  width: 100%;
  padding: var(--padding-mobile-r-l);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-wrapper ul li {
  font-family: "Matter-Medium";
  font-size: var(--fs-menu-mobile);
  list-style: none;
}

.menu-wrapper .menu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-mobile-r-l) 0;
}

.menu-wrapper .menu-contacts a {
  font-size: var(--fs-text-mobile);
  cursor: pointer;
}

.menu-wrapper .menu-contacts a:first-of-type {
  margin-bottom: var(--padding-mobile-r-l-half);
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1200px) {
  .menu-container {
    height: calc(0.111 * 100vh);
  }
  .menu-container .title-container h1 {
    font-size: var(--fs-title-tablet);
  }

  .menu-container a.icon {
    display: none;
  }

  .menu-container .title-container {
    padding: 1rem var(--padding-mobile-r-l-half);
  }

  .menu-container nav {
    position: unset;
    display: block;
    height: 100%;
    top: unset;
  }

  .menu-container nav .menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .menu-container nav ul {
    flex-direction: row;
    justify-content: end;
    padding-right: var(--padding-mobile-r-l-half);
  }

  .menu-container nav ul li {
    padding: 0.5rem 1rem;
    font-size: var(--fs-menu);
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .menu-container {
    height: calc(0.111 * 100vh);
  }

  .menu-container a.icon {
    display: none;
  }

  .menu-container .title-container {
    padding: 1rem var(--padding-r-l);
  }

  .menu-container nav {
    position: unset;
    display: block;
    height: 100%;
    top: unset;
  }

  .menu-container nav .menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .menu-container nav ul {
    flex-direction: row;
    justify-content: end;
    padding-right: var(--padding-r-l-half);
  }

  .menu-container nav ul li {
    padding: 0.5rem 2rem;
    font-size: var(--fs-menu);
  }
}

a {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Matter-Medium";
}

section {
  height: 100vh;
}

.section-hero {
  position: relative;
}

.hero-image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 75%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 20rem var(--padding-mobile-r-l) 10rem;
}

.hero-title {
  font-size: var(--fs-title);
  font-weight: 400;
  color: white;
  width: 85%;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-buttons a:nth-of-type(2) {
  display: none;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .hero-image img {
    object-fit: cover;
    object-position: unset;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 22% var(--padding-r-l) var(--padding-r-l);
  }

  .hero-title {
    font-size: var(--fs-title);
    font-weight: 400;
    color: white;
    width: 55%;
  }

  .hero-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-buttons a:nth-of-type(2) {
    display: flex;
  }
}

.color-main {
  color: var(--main-color);
}

.btn {
  background-color: var(--main-color);
  color: white;
  padding: 1rem 4rem;
  font-size: var(--fs-text);
  font-weight: 400;
  border-radius: 50px;
  max-width: calc(0.65 * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
  border-radius: 100%;
}

.inverted {
  background-color: white;
  color: var(--main-text-color);
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .btn {
    max-width: calc(0.25 * 100vw);
  }
}

/* section - 1 */
.section-1 {
  background-color: var(--background-grey);
  height: fit-content;
}
.section-1-title {
  padding: calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l)
    var(--padding-mobile-r-l);
}
.section-1-title h2 {
  width: calc(0.65 * 100vw);
}

.section-1-content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-1 {
    max-height: 100%;
  }
  .section-1-title {
    padding: var(--padding-r-l-half) var(--padding-r-l);
  }
  .section-1-title h2 {
    width: 45%;
  }
  .section-1-content {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.section-image-container {
  width: 100%;
}

.section-text {
  position: relative;
  padding: var(--padding-mobile-r-l) calc(2 * var(--padding-mobile-r-l))
    calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
}

.section-text p {
  font-size: var(--fs-text-mobile);
  color: var(--main-text-color);
  margin-bottom: 3rem;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-image-container {
    width: 55%;
  }

  .section-text {
    position: relative;
    padding: 0;
    left: -4rem;
    width: var(--w-36);
    margin-top: 3rem;
  }

  .section-text p {
    font-size: var(--fs-text);
    color: var(--main-text-color);
    margin-bottom: 3rem;
  }
}

/* section - 2 */
.section-2 {
  background-color: var(--white);
  height: 90vh;
  padding: var(--padding-mobile-r-l) var(--padding-mobile-r-l-half);
}

.section-2-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
  height: 33%;
}

.feature img {
  width: 40%;
  padding-bottom: 2rem;
}

.feature h3 {
  width: 70%;
  text-align: center;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-2 {
    background-color: var(--white);
    height: 90vh;
    padding: var(--padding-r-l);
  }

  .feature {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
    height: 50%;
  }

  .feature h3 {
    width: unset;
    text-align: center;
  }
}

/* section - 3 */
.section-3 {
  background-color: var(--main-color);
  height: fit-content;
  min-height: 70%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(2.5 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
}

.section-3 h2 {
  width: 100%;
  color: white;
}

.cta-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-3 {
    min-height: 60%;
    padding: var(--padding-r-l);
  }

  .section-3 h2 {
    width: 60%;
    color: white;
  }
}

/* section - 4 */
.section-4 {
  height: unset;
  background-color: var(--background-grey);
  padding: calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
}

.reference-container {
  position: relative;
  height: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reference-container .image-container {
  position: relative;
  max-width: 100%;
  padding: calc(2 * var(--padding-mobile-r-l))
    calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
}

.reference-container .image-container .img-top-right {
  position: absolute;
  top: 5%;
  right: 0;
  height: 15vh;
}

.reference-container .image-container .img-bottom-left {
  position: absolute;
  bottom: 5%;
  left: 0;
  height: 15vh;
}

.reference-container .section-text {
  padding: 0;
}

.reference-container .section-text .arrows-container {
  position: relative;
}

.reference-container .section-text .arrows-container .arrows-paragraph {
  padding: var(--padding-mobile-r-l) calc(2 * var(--padding-mobile-r-l));
}

.arrows-div,
.arrows-mobile-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows-mobile-div div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.arrows-div {
  display: none;
}

.arrow {
  z-index: 2;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
}

.reference-container .section-text .signature {
  padding: 0 calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
  color: var(--main-color);
}

.hidden {
  display: none;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-4 {
    padding: var(--padding-r-l);
  }

  .arrows-div {
    display: flex;
  }

  .arrows-mobile-div {
    display: none;
  }

  .reference-container {
    width: 100%;
    height: 70vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .reference-container .image-container {
    position: relative;
    max-width: 50%;
    padding: 0 var(--padding-r-l);
  }

  .reference-container .image-container .img-top-right {
    position: absolute;
    top: -5%;
    right: 0;
    height: 15vh;
  }

  .reference-container .image-container .img-bottom-left {
    position: absolute;
    bottom: -5%;
    left: 0;
    height: 15.5vh;
  }

  .reference-container .section-text {
    left: -12rem;
  }

  .reference-container .section-text .arrows-container .arrows-paragraph {
    padding: var(--padding-r-l) 0;
  }

  .reference-container .section-text .signature {
    padding: 0 0 var(--padding-r-l);
    color: var(--main-color);
  }
}

/* section - 5 */
.section-5 {
  height: unset;
  background-color: var(--background-grey);
  padding: var(--padding-r-l);
  padding: calc(2.5 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
}

.section-5-title h2 {
  width: 100%;
}

.section-5-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding-mobile-r-l) 0;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 33vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
}

.question-text {
  font-size: var(--fs-text-mobile);
  color: var(--main-text-color);
}

.question-reply {
  font-size: var(--fs-text-mobile);
  color: var(--main-color);
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-5 {
    max-height: 100%;
    padding: var(--padding-r-l);
  }
  .section-5-title h2 {
    width: 40%;
  }

  .section-5-container {
    width: 100%;
    height: calc(100% - var(--padding-r-l));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-r-l) 0;
  }

  .question {
    display: flex;
    flex-direction: column;
    width: 33%;
    min-height: unset;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .question-text {
    font-size: var(--fs-text);
  }

  .question-reply {
    font-size: var(--fs-text);
  }
}

/* section - 6 */
.section-6 {
  background-color: white;
  padding: calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
  height: unset;
  display: flex;
  align-items: center;
}

.section-6-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-6-container .section-text-content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: calc(2 * var(--padding-mobile-r-l));
}

.section-6-container .section-text-content .section-texts p {
  width: 100%;
  font-size: var(--fs-text-mobile);
  color: var(--main-text-color);
}

.section-6-container .section-text-content .section-texts p:first-of-type {
  margin-bottom: 2rem;
}

.section-contacts .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}

.contact-content {
  margin-left: 1.5rem;
  font-size: var(--fs-heading);
  font-family: "Matter-Medium";
  /* font-weight: 400; */
}

.section-6-image {
  height: 100%;
}

.section-6-image img {
  width: 66.66vw;
  height: 66.66vw;
  border-radius: 999px;
  object-fit: cover;
  object-position: right;
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1200px) {
  .section-6-container .section-text-content {
    height: 75vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-6 {
    background-color: white;
    height: 90vh;
    padding: var(--padding-r-l);
    display: flex;
    align-items: center;
  }

  .section-6-container {
    flex-direction: row;
    height: 100%;
  }

  .section-6-container .section-text-content {
    width: 50%;
    max-height: 100%;
    padding-bottom: 0;
  }

  .section-6-container .section-text-content .section-texts p {
    width: 70%;
    font-size: var(--fs-text);
  }

  .section-contacts .contact {
    margin-bottom: 0.5rem;
  }

  .section-6-image {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-6-image img {
    width: calc(0.4166 * 100vw);
    height: calc(0.4166 * 100vw);
    border-radius: 999px;
    object-fit: cover;
    object-position: right;
  }
}

/* section - 7 */
.section-7 {
  background-color: white;
}

.section-7-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section-7-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: calc(2 * var(--padding-mobile-r-l)) var(--padding-mobile-r-l);
  background-color: var(--main-color);
  color: white;
}

.section-7-content .image-container {
  display: flex;
  width: 70%;
  align-self: flex-end;
  padding: 0 2rem;
  height: calc(100vh * 250 / 1080);
}

.section-7-content .image-container img {
  max-height: unset;
}

.section-7-content .texts-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-7-content .texts-container > div:first-of-type {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.texts-container div .title {
  font-size: var(--fs-heading-mobile);
  font-family: "Matter-Medium";
  margin-bottom: 2rem;
}

.texts-container div p {
  font-size: var(--fs-text-mobile);
}

.section-7-map {
  width: 100%;
  height: 100vh;
}

.section-7-map iframe {
  width: 100%;
  height: 100vh;
}

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1200px) {
  .section-7-content .image-container {
    display: flex;
    width: 60%;
    align-self: flex-end;
    height: calc(100vh * 250 / 1080);
  }
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-7 {
    max-height: 100vh;
  }
  .section-7-container {
    flex-direction: row;
  }
  .section-7-content {
    width: 50%;
    padding: var(--padding-r-l);
    background-color: var(--main-color);
    color: white;
  }
  .section-7-content .image-container {
    display: flex;
    width: 70%;
    align-self: flex-end;
    height: calc(100vh * 250 / 1080);
  }
  .section-7-content .texts-container > div:first-of-type {
    margin: 2rem 0;
  }

  .texts-container div .title {
    font-size: var(--fs-heading);
    margin-bottom: 2rem;
  }

  .texts-container div p {
    font-size: var(--fs-text);
  }

  .section-7-map {
    height: 100%;
    width: 50%;
  }

  .section-7-map iframe {
    height: 100%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
  .section-7-content .image-container {
    width: 50%;
  }
}
